# node-project ignores
/node-project/node_modules
/node-project/package-lock.json
/node-project/.env

# react-project ignores
/react-project/node_modules
/react-project/.pnp
/react-project/.pnp.js

/react-project/coverage

/react-project/build

/react-project/.DS_Store
/react-project/.env
/react-project/.env.local
/react-project/.env.development.local
/react-project/.env.test.local
/react-project/.env.production.local

/react-project/npm-debug.log*
/react-project/yarn-debug.log*
/react-project/yarn-error.log*
/react-project/package-lock.json

# main lock file ignore
package-lock.json